*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.section_minh{
    float: left;
    width: 100%;
}
.container_minh{
    float: left;
    width: 100%;
    margin: auto;
    padding: 0 40px;
}
.content_minh{
    float:left;
}
.content_minh img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.title_content_minh{
    text-align: center;
}
.small_content_minh{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-right: 55px;
}
.list_content_minh{
    padding-top: 30px;
    padding-left: 50px;
}
.list_content2_minh{
    margin-top: 50px;
}
.list_content2_minh .image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.upper_minh{
    width: 100%;
    height: 500px;
    margin-top: 15px;
}
.lower_minh{
    width: 100%;
    height: 500px;
    margin-top: 30px;
}
.left_minh{
    float: left;
    width: 50%;
    height: 100%;
}
.right_minh{
    float: right;
    width: 50%;
    height: 100%;
}
.left_small_minh{
    float: left;
    width: 46%;
    height: 100%;
}
.right_small_minh{
    float: right;
    width: 46%;
    height: 100%;
}
.special1{
    padding-left: 10px;
}
.special2{
    padding-right: 40px;
}
.list_content3_minh{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 30px;
}
.discount_minh{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}
.dis1_minh{
    position: relative;
    bottom: 451px;
    left: 1px;
    opacity: 0;
}
.dis2_minh{
    position: relative;
    bottom: 450px;
    left: 3px;
    opacity: 0;
}
.dis3_minh{
    position: relative;
    bottom: 451px;
    left: 6px;
    opacity: 0;
}
.dis4_minh{
    position: relative;
    bottom: 450px;
    left: 10px;
    opacity: 0;
 }
.dis1_minh:hover{
    opacity: 1;
}
.dis2_minh:hover{
    opacity: 1;
}
.dis3_minh:hover{
    opacity: 1;
}
.dis4_minh:hover{
    opacity: 1;
}
.title_content2_minh{
    text-align: center;
}
.list_content4_minh{
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.upbanner{
    width: 100%;
    height: 350px;
}
.upbanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.downnbanner{
    width: 100%;
    height: 235px;
    margin-top: 25px;
}
.downnbanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add_minh{
    width: 100%;
    height: auto;
    position: relative;
}
.add1_minh{
    width: 21.6%;
    height: 64%;
    position: absolute;
    top: 20%;
    left: 3%;
}
.add2_minh{
    width: 21.6%;
    height: 64%;
    position: absolute;
    top: 25%;
    left: 27%;
}
.add3_minh{
    width: 21.6%;
    height: 64%;
    position: absolute;
    top: 20%;
    left: 51%;
}
.add4_minh{
    width: 21.6%;
    height: 64%;
    position: absolute;
    top: 25%;
    left: 75%;
}
.title_content3_minh{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}
.line_minh{
    width: 100%;
    height: 438px;
}
.line_minh .box{
    width: 19.7%;
    display: inline-block;
    padding: 0 10px;

}
.line_minh .box img{
    width: 100%;
    height: auto;
    object-fit: cover;
}